@model Student_Portal.Models.RoleViewModel

@{
    ViewBag.Title = "Role Details";
}

    <div class="row justify-content-md-center">
        <div class="col-lg-9 mt-5">
            <div class="card">
                <div class="card-body">
                    <div>
                        <dl class="dl-horizontal">
                            <h5>
                                Role Name:
                            </h5>

                            <h2>
                                @Html.DisplayFor(model => model.Name, new { @class = "pull-right" })
                            </h2>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
